.logo{
  margin:0px;

}

.heado{
  color:green;
  margin-left:300px;
}
.imgsizer{
  margin-left: 400px;
  height:350px;
}
.registeration{
  height:400px;
  width:200px;
  border: 1px solid black; 
  margin-left:450px;
  background-color:green;
}

.imagelogo{
  padding:2px;
  height: 100px;
}

.carouselimages{
  height:450px;
}

.carouselcaption{
  color:black;
  margin-left: 600px;
}

.carddeckstyle{
  padding:20px;
  border: 1px solid black;
}

.jumbotranstyle{
  display:flex;
  justify-content: space-evenly;
}

/*.Jumbotranimage{
 margin-left:20px;
 height:5px;
}*/

.footerjumbo{
  background-color:black;
}

.footertext{
  color:white;
}

.borderadd{
  border: 1px solid black;
}

.cardimage{
  height: 20px;
}




/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 background-color:black;

height:50px;
text-align: center;
  


}

li{
  display:inline;
}
li {
  float: left;
  
}

.navlink{
  display: block;
 padding: 14px 16px;
  color:white;
  text-align:center;
  text-decoration: none;


} */

/*li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/
